.form{
    display: flex;
    align-items: center;
    gap: 1.2rem;

    border-radius: 8px;
    border: 1px solid var(--gray-400);
    background: var(--gray-500);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
    height: calc(4rem + 1.6rem * 2);
    padding: 1.6rem;
    width: 100%;
}

.description{
    color: var(--gray-100);
    font-size: 1.4rem;
    flex: 1;
    line-height: 1.4;
}

.trashButton{
    background: var(--gray-500);
    color: var(--gray-300);
    cursor: pointer;
    height: 1.4rem;
    width: 1.25rem;
    transition: 0.3s ease-in-out;
}

.trashButton:hover{
    color: red;
    transform: scale(1.15);
}